<div class="container">
  <h2>Edit Admin</h2>
  <form [formGroup]="AdminForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName" name="firstName" [(ngModel)]="admin.firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName" name="lastName" [(ngModel)]="admin.lastName">
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number:</label>
      <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" name="phoneNumber" [(ngModel)]="admin.phoneNumber">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" formControlName="email" id="email" [(ngModel)]="admin.email">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="text" class="form-control" id="password" formControlName="password" [(ngModel)]="admin.password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Reset Password:</label>
      <input type="text" class="form-control" id="confirmPassword" formControlName="confirmPassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button  (click)="onCancel()" class="btn btn-danger">Cancel</button>
  </form>
</div>
